[core]
    editor = vim
	quotepath = false
	excludesfile = ~/.gitignore_global

[push]
	default = simple

[color]
	ui = auto

[help]
	autocorrect = 1

[include]
    path = ~/.git_local
[alias]
	yolo = commit --amend --no-edit
	sr = reset --soft HEAD^
	co = checkout
	pl = log --graph --decorate --oneline
